<div class="card">
  <div class="card-body">  
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Nome">
      </mat-form-field>

      <mat-radio-group aria-label="Select an option">
         <mat-radio-button value="1">Masculino</mat-radio-button>
         <mat-radio-button value="2">Feminino</mat-radio-button>
      </mat-radio-group>


      <mat-form-field>
        <mat-select placeholder="Select">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>  
  </div>
</div>


<!-- 
<div class="card">
  <div class="card-body">
    <form>
      <div class="form-group">
        <label class="col-md-4">Nome</label>
        <input type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label class="col-md-4">Sexo </label>
        <textarea class="form-control" rows = 7 cols = "5"></textarea>
      </div>
      <div class="form-group">
        <label class="col-md-4">Product Price</label>
        <input type="text" class="form-control" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Salvar Usuário</button>
      </div>
    </form>
  </div>
</div>
-->
