
<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="criarUsuario" class="nav-link" routerLinkActive="active">
          Criar Usuário
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="criarTarefa" class="nav-link" routerLinkActive="active">
          Criar Tarefa
        </a>
      </li> 
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
