<mat-card>
    Cadastro de Tarefas
    <div class="example-container">

        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="tarefa.nome">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Usuário</mat-label>
            <mat-select [(ngModel)]="tarefa.usuario">
                <mat-option *ngFor="let usuario of listaUsuarios" ngDefaultControl [value]="usuario" name="usuario">
                    {{ usuario.nome }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="dataInicio" placeholder="Data Início"  [(ngModel)]="tarefa.dataInicio">
            <mat-datepicker-toggle matSuffix [for]="dataInicio"></mat-datepicker-toggle>
            <mat-datepicker #dataInicio></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="dataFim" placeholder="Data Fim"  [(ngModel)]="tarefa.dataFim">
            <mat-datepicker-toggle matSuffix [for]="dataFim"></mat-datepicker-toggle>  
            <mat-datepicker #dataFim></mat-datepicker> 
        </mat-form-field>

         <button mat-raised-button (click)="salvarTarefa()">Salvar</button> 


    </div>

</mat-card>    
